*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    padding: 0;
    margin: 0; /* this removes unneccessary margin */
}

.navbar{
    background-color: rgb(37, 37, 37);
    margin: none;
    border: none;
    align-items: center;
    display: flex;
    position:sticky;
    top:0;  /* this is important */
    z-index: 999;
    height: 80px;

}
.nav_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.nav_logo_container{
    background: #00C9FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    margin-left: 20px;
    font-size: 2.2rem;
    font-weight: 700;
    color:transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: all 0.3s ease;
}
.nav_logo_container:hover {
    font-size: 2.5rem;
    transition: all 0.3s ease;
}
.nav_menu{
    justify-content: space-between;
    height: 100%;
    width:700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    
}

.nav_link{
    background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color:transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: 600;
    font-size: 1.4rem;
    outline: none;
    border: none;
    margin:0 40px;
    transition: all 0.3s ease;

}

.nav_link:hover {
    font-size: 2.2rem;
    transition: all 0.3s ease;
}

.navbar_menu_other {
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_link_other{
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    color:white;    
    transition: all 0.3s ease;
}

.nav_link_other:hover {
    padding: 15px 30px;
    margin: 0 20px;
    border-radius: 40px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}
.content {
    background: rgb(175, 232, 255);
    background-image: url("/static/img/form_background.jpeg");
    height: 100vh;
}
.content .login_container{
    padding-top: 10vh;
}
.content .signup_container{
    padding-top: 5vh;
}

.content .form_content {
    margin:0 25vw; /* 25vw cuz width is 50vw therefore centre at 25vw shift by 25vw to get desired results*/
    background-color: rgba(0, 0, 245, 0.05);
    backdrop-filter:  saturate(100%) contrast(45%) brightness(130%); /* glass effect */
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    max-width: 70vw;
    max-height: 100vh;
}
.content .field_tag, .field_blank, .form_title, .form_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    font-size: 1.5rem;
}

.content .form_title{
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

.content .form_btn button {
    position: relative;
    margin: 2vh 0;
    width: 40vw;
    height: 5vh;
    color: blue;
    border: 2px solid blue;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

}

.content .form_btn button:after {
    position: absolute;
    content: '';
    top:0;
    left:0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 68, 255, 0.5);
    transition: all 0.3s ease;
}

.content .form_btn button:hover {
    color: white;
}

.content .form_btn button:hover:after {
    width:100%;
}


.content .field_tag#signup, .field_blank#signup, .form_title#signup, .form_btn#signup {
    margin-top: 1vh;
}

.content .field_blank input, select{
    width:25vw;
    height: 2vw;
    font-size: 1.8vw;
    background: transparent;
    border: 2px solid rgba(0, 0, 255, 0.3);
    color:gold;
}
.content .field_blank select {
    font-size: 1vw;
}

.content .field_blank select option{
    background-color: teal;
}

.content .field_blank input:focus, select:focus {
    border: 2px solid rgb(0, 0, 255);
    outline:none;
}

