<!-- templates/base.html-->
{% load static%} 
<!-- this will actually load from static files defined in settings -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayukh</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://kit.fontawesome.com/c8019729d3.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <div class="nav_container">
            <div class="nav_logo_container">
                <a href="{% url 'home' %}" class="navbar_logo">Mayukh</a>
            </div>
            <div class="navbar_toggle" id="mobile-menu"> <!--".navbar_toggle#mobile-menu(tab)"-->
                
                <span class="bar"></span>   <!--1st child*/ -->
                <span class="bar"></span>   <!--/*2nd child*/-->
                <span class="bar"></span>   <!--/*3rd child*/-->
            </div>
            <div class="menu">
            <ul class="navbar_menu">
                <li class="navbar_item">
                    <a href="{% url 'home' %}#home" class="navbar_links" id="home-page">Home</a>
                    <!-- the link navigates or scrolls the page to show the element with id:home -->
                </li>
                <li class="navbar_item">
                    <a href="{% url 'home' %}#about" class="navbar_links" id="about-page">About</a>
                </li>
                <li class="navbar_item">
                    <a href="{% url 'home' %}#courses" class="navbar_links" id="courses-page">Courses</a>
                </li>
            </ul>
            <ul class="navbar_menu_other">
                {% if user.is_authenticated %}
                <li class="navbar_item_other" id="logout"><a href="{% url 'logout' %}" id="logout-page"><button class="nav_link_other">Log Out</button></a></li> <!--these urls are working cuz of the dir we added in settings-->
                <li class="navbar_item_other" id="profile"><a href="{% url 'profile' %}" id="profile-page"><button class="nav_link_other">Profile</button></a></li>
                {% else %}
                <li class="navbar_item_other" id="login"><a href="{% url 'login' %}" id="login-page"><button class="nav_link_other">Log In</button></a></li>
                <li class="navbar_item_other" id="signup"><a href="{% url 'signup' %}" id="signup-page"><button class="nav_link_other">Sign Up</button></a></li>
                {% endif %}
            </ul>
            </div>
        </div>
    </nav>
    <div class="content" id="content">
        {% block content %}{% endblock %} 
        <!-- it is the block action that is manipulated by child elements -->
    </div>
    <div class="footer">
        <div class="content_footer">
            <br>
            <p> <a href="/" class="footer_logo">Mayukh</a> ©. All rights reserved</p>
        </div>
        <div class="social_links">
            <a href="/" class="social_icon" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="/" class="social_icon" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="/" class="social_icon" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="/" class="social_icon" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="/" class="social_icon" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
    <script src="{% static 'app.js' %}"></script>
</body>
</html>

<!-- {% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %} -->
