{% extends 'base.html' %}
{% block content %}  
<!-- this basically populates the empty block in base.html -->
<div class="profile_container">
    <div class="form_content" id="profile">
    <div class="form_title" id="profile">
        <h2>Profile</h2>
    </div>
    <div class="field_tag" id="profile">Name:</div>
    <div class="field_blank" id="profile">
    {{member.first_name}} {{member.last_name}}
    </div>
    <div class="field_tag" id="profile">
    <span style="color: lightgreen;">Username:</span> 
    </div>
    <div class="field_blank" id="profile">
        {{member.username}} 
        </div>
        <div class="field_tag" id="profile">
        <span style="color: lightgreen;"> Designation:</span> 
        </div>
        <div class="field_blank" id="profile">
         {{member.post}}
    </div>
    <div class="field_tag" id="profile">
    E-Mail: 
    </div>
    <div class="field_blank" id="profile">
    {{member.mail}} 
    </div>
    <div class="field_tag" id="profile">
    Phone:
    </div>
    <div class="field_blank" id="profile">
     {{member.phone}}
     </div>

</div>
</div>

{% endblock %}